setup.sql

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

test_output.txt

coverage